.App {
  font-family: sans-serif;
  text-align: left;
  padding-top: 32px;
}

label {
  padding-bottom: 4px;
  padding-top: 8px;
  display: block;
}

.bg-dark {
  background: #e8e8e8;
}

.group {
  padding-bottom: 16px;
}
